<div class="container">
    <h2>Orders</h2>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item <% if(filter=="all"){%>active<%} %> ">
              <a class="nav-link" href="/order/all">All Orders <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item <% if(filter=="pending"){%>active<%} %> ">
              <a class="nav-link" href="/order/pending">Pending</a>
            </li>
            <li class="nav-item <% if(filter=="processing"){%>active<%} %>" >
              <a class="nav-link" href="/order/processing">Processing</a>
            </li>
            <li class="nav-item <% if(filter=="delivering"){%>active<%} %>" >
              <a class="nav-link" href="/order/delivering">Delivering</a>
            </li>
            <li class="nav-item <% if(filter=="completed"){%>active<%} %>" >
                <a class="nav-link" href="/order/completed">Completed</a>
            </li>
            <li class="nav-item <% if(filter=="canceled"){%>active<%} %>" >
                <a class="nav-link" href="/order/canceled">Canceled</a>
            </li>
          </ul>
        </div>
      </nav>


    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col"></th>
            <th scope="col">Items</th>
            <th scope="col">State</th>
            <th scope="col">Total</th>
            <th scope="col">Customer</th>
            <th scope="col">Create Date</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            <%orders.forEach((order,i)=>{ %>
                <% if(order.state==filter|| filter=='all'){ %> 
                    <tr>
                        <td style="vertical-align: middle;"><%=i+1%></td>
                        <td>
                            <% order.items.forEach(item=>{ %>
                                <div class="row">
                                    <img src="<%=item.product.imagPaths[0]%>" style="height: 40px; width: auto;">
                                    <%=item.product.name%>
                                    <%=item.size%> 
                                    <%=item.quantity%>
                                </div>
                            <% }) %>  
                        </td>
                        <td style="vertical-align: middle;">
                            <%=order.state%> 
                        </td>
                        <td style="vertical-align: middle;">
                            <%=order.total%> 
                        </td>
                        <td style="vertical-align: middle;">
                            <%=order.user.firstName %> 
                        </td>
                        <td style="vertical-align: middle;">
                            <%=order.createdDate.getDate() %>/<%=order.createdDate.getMonth() %>/<%=order.createdDate.getFullYear() %>
                        </td>
                        <td style="vertical-align: middle;">
                            <a href="/order/admin/<%=order._id%>">View Order</a>
                        </td>
                    </tr>
                <% } %> 
            <%})%>
        </tbody>
      </table>
</div>

