
    <br>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cart-table clearfix">
                    <table style="table-layout: auto; width: 100%;" class="table table-responsive">
                        <thead>
                            <tr>
                                <th>Products</th>
                                <th style="text-align: left;">Size</th>
                                <th>Category</th>
                                <th>Quantity</th>
                                <th>TOTAL</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% order.items.forEach((item,i) => { %>
                                <tr>
                                    <td class="cart_product_img">
                                        <a href="#"><img src="<%=item.product.imagPaths[0]%>" alt="Product"></a>
                                        <h5><%= item.product.name %></h5>
                                    </td>
                                    <td>
                                        <h5 style="text-align: left;"><%= item.size%></h5>
                                    </td>
                                    <td>
                                        <h5><%= item.product.category %></h5>
                                    </td>
                                    <td class="qty">
                                        <h5 class="qty-text"><%= item.quantity %> </h5>
                                    </td>
                                    <td><%=item.product.price%>X<%= item.quantity %>=<%= item.product.price*item.quantity%>.00/=</td>
                                </tr>
                            <% }); %> 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <hr>

        <div class="row">
            <% if(order.items.length>0){%>
                <form action=""></form>
            <!-- delivery details -->
            <div class="col-12 col-lg-6">
                <h4>Delivery Details</h4>
                <br>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Name</label>
                            <input type="text" class="form-control" name="name" value="<%=order.address.name%>" readonly>
                        </div>
                        <div class="form-grou col-md-6">
                            <label>Mobile</label>
                            <input type="text" class="form-control" name="mobile" value="<%=order.address.mobile%>" readonly>
                        </div>   
                    </div>
                    
                    <div class="form-group">
                        <label>Address Line 1</label>
                        <input type="text" class="form-control" name="address1st" value="<%=order.address.address1st%>" readonly>
                    </div>
                    <div class="form-group">
                        <label>Address Line 2</label>
                        <input type="text" class="form-control" name="address2nd" value="<%=order.address.address2nd%>" readonly>
                    </div>
                    <form action="/order/admin/<%=order._id%>" method="POST">
                        <select class="form-select" aria-label="Default select example" name="state">
                            <option value="pending" <% if(order.state=='pending'){ %>selected<% } %>  >pending</option>
                            <option value="processing" <% if(order.state=='processing'){ %>selected<% } %>>processing</option>
                            <option value="delivering" <% if(order.state=='delivering'){ %>selected<% } %>>delivering</option>
                            <option value="completed" <% if(order.state=='completed'){ %>selected<% } %>>completed</option>
                            <option value="canceled" <% if(order.state=='canceled'){ %>selected<% } %>>canceled</option>
                        </select>
                        <br>
                        <button type="submit" class="btn btn-success">Update Order Status</button>
                    </form>
            </div>
            
            <%} %> 
            

            <!-- Cart Totals -->
            <div class="col-12 col-lg-6">
                <br><br><br><br><br>
                <center>
                    <h2>Order Total</h2>
                    <h1>Rs: <%=order.total%>.00/= </h1>
                </center>
            </div>
        </div>
    </div>
    <br>


