this is gallery page

<% products.forEach(product=>{ %>
    <div>
        <h1><%=product.name%></h1>
        <h2><%=product.price%></h2>
        <h2><%=product.category%></h2>
        <img src="<%= product.imagPaths[0] %>" width="300">
        <a href="/gallery/<%= product.id %>"><h1>showProduct</h1></a>
    </div>
<% }) %> 
